
@{
    ViewBag.Title = "Login";
}

@section imagen{
    '/Public/IMG/Fondo1.jpg'
}

<div class="row justify-content-center align-items-end" style="height:82vh">
    <div class="col col-md-4">
        <div class="card bg-transparent redondear">
            <div class="card-body bg-celeste-75 redondear">
                <form action="/User/Validar" method="post">
                    <div class="form-group text-white">
                        <input type="text" name="Usuario" id="Usuario" required placeholder="Usuario" class="form-control" />
                        @if (!string.IsNullOrEmpty(ViewBag.Usuario))
                        {
                            <span class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">@ViewBag.Usuario</span>
                        }
                    </div>
                    <div class="form-group text-white">
                        <input type="password" name="password" id="password" required placeholder="Contraseña" class="form-control" />
                        @if (!string.IsNullOrEmpty(ViewBag.Contraseña))
                        {
                            <span class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">@ViewBag.Contraseña</span>
                        }
                    </div>
                    <div class="form-group text-white">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btt-yellow btn-block redondear mb-2">INGRESAR</button>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-12">
                                @Html.ActionLink("Registrarse", "Registrar", "User", new { @class = "btn btn-dark btn-block redondear mb-2" })
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

